<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>prisoninfo.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prisonerupate</servlet-name>
        <servlet-class>prisoninfo.prisonerupate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccount</servlet-name>
        <servlet-class>prisoninfo.createAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>prisoninfo.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editcafischdule</servlet-name>
        <servlet-class>prisoninfo.editcafischdule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkforvisting</servlet-name>
        <servlet-class>prisoninfo.checkforvisting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prisonerupate</servlet-name>
        <url-pattern>/prisonerupate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccount</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editcafischdule</servlet-name>
        <url-pattern>/editcafischdule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkforvisting</servlet-name>
        <url-pattern>/checkforvisting</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
